* {
    margin: 0;
    padding: 0;
}
*::selection {
    background: rgb(255, 128, 0);
    color: rgb(255, 255, 255);
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue';
    text-align: center;
}
.contentFrame {
    margin: 0 auto;
    max-width: 40rem;
}
.tooltip:hover, .tooltiptext {
    visibility: visible;
    transition-delay: 0;
}



section {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}
section.white {
    background-color: rgb(255, 255, 255);
}
section.gray {
    background-color: rgb(246, 246, 246);
}
.contentRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



h1, h2 {
    margin: 1rem 1rem;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -3px;
}
h1 {
    font-size: 4em;
}
p {
    font-weight: 200;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}



img {
    padding: 1rem;
}
img.stickFigure {
    padding: 0.3em;
    padding-right: 1em;
    height: 64px;
    width: 64px;
}
#highFive {
    height: 128px;
    width: 128px;
}



.listItem {
    display: flex;
    align-items: flex-start;
    text-align: justify;
    margin: 0em 0em 2em 0em;
}



#aboutMe {
    background-color: rgb(82, 82, 82);
}

.contactMe {
    padding: 0 4rem;
    width: 18rem;
}